.bg-darkgreen{
    background-color: #08390A;
    
}

.light-yellow{
 
/* background: rgba(46, 247, 93, 1.0);
background: linear-gradient(315deg, rgba(46, 247, 93, 1.0), rgba(69, 214, 122, 1.0));
   */




background: #D6BA07;
background: linear-gradient(315deg, #D6BA07, #EFDE88);
}

.darkgreen{
    color: #08390A;
    
}

.midgreen{
    color: #4CAF50;
    
}
.wght-600{
    font-weight: 600;
}
#lf-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

#navLinkul li a {
    font-size: 1.2rem;
}
#navToggler{
    display: none;
}

@media only screen and (max-width: 1200px) {
    #lg-links{
     display: none;
    }
    #navToggler{
        display: flex;
          
    }
    #logIutButton{
        display: none;
    }
  }