*{
    margin: 0px;
    padding: 0px;
}
body {
  background-color: whitesmoke;
  font-family:'Khula', sans-serif;
 }
 
 .bg-darkgreen{
     background-color: #08390A;
     
 }
 
 .darkgreen{
     color: #08390A;
     
 }
 
 .midgreen{
     color: #4CAF50;
     
 }
 .wght-600{
     font-weight: 600;
 }
 
 