
#chatsListsBox{
   flex: 2; /* Take all the remaining height in the parent */
   max-height: calc(var(--parent-height) - var(--child1-height));
  overflow-y: scroll;
}
.card{
    border-radius: 0px;
}
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:15px;
    left: 15px;
    color: #9ca3af;

}

.form span{

     position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}


.box-shadow{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.message-recive .card{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}